body {
    width: 340px;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    padding: 10px 4px;
}


h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 6px 0;
}

#recentMistakes {
    padding: 10px;
}

#recentMistakesList {
    border: 1px solid #d8d8de;
    max-height: 360px;
    overflow-y: scroll;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}


.suggestionsCount {
    display: flex;
    font-weight: 500;
    padding-left: 8px;
}

.suggestionsCount input[type="radio"] {
    display: none;
}

.suggestionsCount .radio-label {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 15px;
    color: rgb(98, 95, 95);
}

.suggestionsCount .radio-label:hover {
    background-color: #d0caca;
    background-color: #efeff7;
}

.suggestionsCount input[type="radio"]:checked+.radio-label {
    color: #000;
    background-color: #d8d8de;
}

.suggestionsCount p {
    font-size: 15px;
    color: rgb(65, 63, 63);
}

.radios-container {
    border-radius: 4px;
    margin-left: 1px;
}


#buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 4px;
    background-color: #dfbdbd;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #d8d8de;
}

button:hover {
    border: 1px solid rgb(107, 101, 101);
}

#clearButton,
#downloadButton {
    margin: 0px 10px;
    padding: 5px 12px;

}

#emptyContainer {
    padding: 40px 10px;
    text-align: center;
}